page-safe {
    .btn{
        margin-bottom:8px;height:30px;line-height:50px;background:#D83A3A;margin-top:0px;cursor:pointer;color:#fff;font-size:12px;
        .button-inner{color:#fff;}
        box-shadow: none;
    }

    .morebut{box-shadow:none;margin:15px 0 0 0;font-size:12px;}

    .navs{padding:10px 10px 0 10px;
        .segment{
            background:#D83A3A;height:40px;border-radius:40px;padding:5px 8px;display:block;
            .segment-button{
                border:none;height:30px;border-radius:30px;color:#fff;font-size:15px;
                display:inline-block;width:48%;margin-left:1%;line-height:30px;
                &.segment-activated{
                    background:#fff;color:#D83A3A;
                }
            }
        }
    }

    .contents{
        .alertlists{
            list-style:none;padding:0;margin:0;
            .al{
                width:100%;border-bottom:solid 1px #e2e2e2;
                padding:10px 10px 10px 10px;
                .avatar{
                    float:left;margin-top:6px;
                    .icon-con{
                        width:44px;height:44px;text-align:center;line-height:41px;background:#FF436F;display:inline-block;
                        border-radius:44px;
                        &.l2{background:#F7DB77;}
                        &.l3{background:#00ACFE;}
                    }
                }
                .infor{
                    margin-left:53px;
                    h5{font-size:18px;color:#333;margin:0;
                        small{font-size:12px;color:#666;float:right;line-height:20px;
                            .icon-safe-date{position:relative;top:-1px;}
                        }
                    }
                    p{
                        margin:0;font-size:12px;color:#333;
                    }
                }
                
            }

            .titles{
                margin:10px 13px;padding:0;font-size:15px;color:#000;
                ion-icon{float:right;}
                
            }

            .counts-title{
                box-shadow:0 0 10px #ccc;
                margin:8px 13px;padding:10px 10px;
                .icon-con{
                    width:44px;height:44px;text-align:center;line-height:41px;background:#FF436F;display:inline-block;
                    border-radius:44px;font-size:16px;font-weight:bold;
                    &.l2{background:#F7DB77;}
                    &.l3{background:#00ACFE;}
                }
                .rg-number{float:right;margin:14px 0 0 0;}

                

                .lists{
                    border-top:dotted 1px #eee;
                    margin-top:10px;display:none;
                    transition: all 0.5s;max-height: 150px;
                    overflow: auto;
                    a{
                        display:block;
                        font-size:14px;color:#000;
                        small{
                            font-size:12px;float:right;
                            color:#ccc;
                        }
                        line-height:40px;padding:0 5px;
                        border-left:solid 2px #00ACFE;
                        margin-top:2px;
                        &:nth-child(odd){
                            background:#eee;
                        }

                        &.sel{
                            background:#00ACFE;
                        }
                    }
                    &.ll2{
                        a{border-left:solid 2px #F7DB77;}

                        a.sel{
                            background:#F7DB77;
                        }
                    }
                    &.ll3{
                        a{border-left:solid 2px #FF436F;}

                        a.sel{
                            background:#FF436F;
                        }
                    }
                }

                &.nosel{
                    //background:#eee;
                    //.icon-con{background:#ccc;}

                    .lists{
                        display:block;
                    }
                }

            }

        }
        .greenlists{

        }
        
    }
}
