page-bindrouter {
    .loading{
        font-size:16px;color:#CA2728;
        animation: circle 1s linear infinite;
    }
    @keyframes circle
    {
        from {transform:rotate(0deg);}
        to {transform: rotate(360deg);}
    }
    .center-con{
        width:100%;padding:15px 10px;;text-align:center;
        img{position:relative;}
    }
    .connet-button{
       margin:40px 0 10px 0;
       width:80%;height:50px;line-height:50px;background:#CA2728;
       cursor:pointer;color:#fff;font-size:18px;
       .button-inner{color:#fff;font-size:14px;}
    }
    .tip-connect{
        font-size:12px;color:#CA2728;
    }

    .title-name{
        background:#fff;margin-top:-41px;width:100%;
        height:131px;position:relative;z-index:9;line-height:25px;
        .tip{
            font-size:18px;color:#666;
        }
        .title{
            font-size:16px;color:#CA2728;font-weight:bold;
        }
    }

    .buttons{
        border-bottom:solid 1px #ccc;padding:0 0 15px 0;
        .button{
            margin:10px 0 10px 0;border-radius:50px;
            width:160px;height:45px;line-height:45px;background:#CA2728;
            cursor:pointer;color:#fff;font-size:18px;
            .button-inner{color:#fff;font-size:14px;}
        }
        &.qs{
            border-bottom:none;margin-top:10px;
            .button{background: #E88686;}
        }
    }

    .bindform{
        padding:20px 0 0 0;
        .title{font-size:16px;}
        .button{
            margin:10px 0 10px 0;
            width:80%;height:50px;line-height:50px;background:#CA2728;
            cursor:pointer;color:#fff;font-size:18px;
            .button-inner{color:#fff;font-size:14px;}
        }
    }

    .step4{
        .button{
            margin:10px 0 10px 0;
            width:80%;height:50px;line-height:50px;background:#CA2728;
            cursor:pointer;color:#fff;font-size:18px;
            .button-inner{color:#fff;font-size:14px;}
        }
    }
}
