page-err500 {
    .contents{
        padding:40px 0 0 0;
        text-align:center;

        .gray-button{width:120px;height:30px;background: #D83A3A;line-height:50px;
            cursor: pointer;
            .button-inner{color:#fff;}

            &.hs{
                background: #ccc;
                .button-inner{color:#666;}

            }
        }

    }
}
