<!-- Generated template for the RouterspeedComponent component -->

<div class="titles">
  <!--<div class="tl">
    Ping<br/>
    <b>{{pingData}}</b><span>ms</span>
  </div>-->
  <div class="tl">
    <div class="tl-in">
      下载<br/>
      <b>{{downloadData}}</b><span>{{downloadDW}}</span>
    </div>
  </div>
  <div class="tl">
    <div class="tl-in">
      上传<br/>
      <b>{{uploadData}}</b><span>{{uploadDW}}</span>
    </div>
  </div>
</div>

<div id="speedchart" style="width:100%;height:300px;">
    <div class="container">
        <div class="dot" (click)="startTest()">{{!testing ? '开始' : '请稍候'}}</div>
        <div class="pulse" [class.move]="testing"></div>
        <div class="pulse1" [class.move]="testing"></div>
    </div>
</div>

<!--
<div>
  <ion-select okText="确认" placeholder="切换服务器" cancelText="取消" class="changebut" [(ngModel)]="selServer">
    <ion-option *ngFor="let s of servers" value="{{s.id}}">{{s.name}}</ion-option>
  </ion-select>
</div>

<div class="networks">
  <ion-icon class="ico" name="ios-globe-outline"></ion-icon>
  <span class="txt">{{servername}}</span>
</div>
<div class="networks" style="border-top:none;">
  <ion-icon class="ico" name="ios-wifi-outline"></ion-icon>
  <span class="txt">{{countryname}}</span>
</div>
<div class="bottoms">
  <button class="startbut" [disabled]="testing" ion-button (click)="startTest()">{{!testing ? '开始' : '请稍候'}}</button>
</div>-->
