page-loginphone {
    *{font-family:'幼圆';}
    .login-container{background:#fff;text-align:center;}
    .lpa{line-height:20px;margin:0;}
    .lname{font-size:16px;}
    .ltext{font-size:12px;color:#999;}
    .lform{width:300px;margin-left:5%;margin:70px auto;
        .lcontrol{
            line-height:50px;
            margin:5px 0;
            .icons{vertical-align:middle;margin-right:5px;}
            input{width:300px;border:none;border-bottom:solid 1px #ccc;height:35px;line-height:35px;font-size:15px;}
        }
        .btn-confirm{margin-bottom:8px;width:80%;height:50px;line-height:50px;background:linear-gradient(90deg, #D83A3A, #FFB8B8);margin-top:60px;cursor:pointer;color:#fff;font-size:18px;
            .button-inner{color:#fff;}
            &.phone{
                background:linear-gradient(90deg, #ccc, #999);
                margin-top:5px;
            }
        }
        .link_regist{font-size:14px;color:#088CFF;text-decoration:underline;}
        .send{
            background:#eee;float:right;box-shadow:none;
            color:#027CFF;font-size:12px;width:80px;height:35px;
        }
    }
    .copyright{color:#ccc;font-size:12px;position:absolute;bottom:20px;left:50%;margin-left:-50px;width:100px;text-align:center;display:inline-block;}
}
